html {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    margin-left: auto;
    margin-right:auto;
    border-collapse:collapse;
    width:100%;
    max-width:700px;
    min-width:400px;
    text-align:center;
}

caption {
    caption-side:bottom;
    font-weight:bold;
    font-style:italic;
    margin:4px;
}

table,th, td {
    border: 1px solid black;
}

th, td {
    height: 24px;
    padding:4px;
    vertical-align:middle;
}

th {
    background-color: #0080FF;
     empty-cells: hide;
}


.rowtitle {
    background: #9CF;
    font-weight:bold;
}

tr:nth-child(odd) { 
     background-color: #F0F0F0; 
  } 

tr:hover:nth-child(odd)  {
    background-color: #888;
}

tr:hover:nth-child(even)  {
    background-color: #bbb;
}

.alert {
    text-shadow: 2px 2px 5px red;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}
